In [16]:
import pandas as pd
import csv

cols=['registration-number',
      'renewal-date', 
      'payment-frequency',
      'annual-subs',
      'months-arrears',
      'months-free-last',
      'months-free-this',
      'color-segment',
      'claims-paid',
      'intermediary']

user1=[1,"2024-01-01","Monthly",1250,0,"No",0,"Red","Less Than £500", ""]
user2=[2,"2024-01-02","Monthly",999,0,"Yes",0,"Grey","More Than £1000", ""]
user3=[3,"2024-01-03","Monthly",123,0,"Yes",0,"Blue","Between £500 and £1000", ""]
user4=[4,"2024-01-04","Monthly",1250,0,"No",0,"Red","Less Than £500", "Active Quote"]
user5=[5,"2024-01-05","Monthly",999,0,"Yes",0,"Grey","More Than £1000", "Active Quote"]
user6=[6,"2024-01-06","Monthly",123,0,"Yes",0,"Blue","Between £500 and £1000", "Active Quote"]

print(len(cols))
print(len(user1))

10
10

In [17]:
data = [cols, user1, user2, user3, user4, user5, user6]

filename='/Users/Ben/Desktop/flask-form-phase-2/data/consumer_retention-customers.csv'
with open(filename, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("CSV file has been created successfully.")

CSV file has been created successfully.

In [18]:
df=pd.read_csv('/Users/Ben/Desktop/flask-form-phase-2/data/consumer_retention-customers.csv')
df.head(10)

,registration-number,renewal-date,payment-frequency,annual-subs,months-arrears,months-free-last,months-free-this,color-segment,claims-paid,intermediary
0,1,2024-01-01,Monthly,1250,0,No,0,Red,Less Than £500,NaN
1,2,2024-01-02,Monthly,999,0,Yes,0,Grey,More Than £1000,NaN
2,3,2024-01-03,Monthly,123,0,Yes,0,Blue,Between £500 and £1000,NaN
3,4,2024-01-04,Monthly,1250,0,No,0,Red,Less Than £500,Active Quote
4,5,2024-01-05,Monthly,999,0,Yes,0,Grey,More Than £1000,Active Quote
5,6,2024-01-06,Monthly,123,0,Yes,0,Blue,Between £500 and £1000,Active Quote

In [19]:
df[df['registration-number'].astype(str) == str(5)]

,registration-number,renewal-date,payment-frequency,annual-subs,months-arrears,months-free-last,months-free-this,color-segment,claims-paid,intermediary
4,5,2024-01-05,Monthly,999,0,Yes,0,Grey,More Than £1000,Active Quote